    /*
    Flaticon icon font: Flaticon
    Creation date: 18/06/2020 12:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-piggy-bank:before { content: "\f100"; }
.flaticon-lightbulb:before { content: "\f101"; }
.flaticon-scientist:before { content: "\f102"; }
.flaticon-business-and-finance:before { content: "\f103"; }
.flaticon-meditation:before { content: "\f104"; }
    
    $font-Flaticon-piggy-bank: "\f100";
    $font-Flaticon-lightbulb: "\f101";
    $font-Flaticon-scientist: "\f102";
    $font-Flaticon-business-and-finance: "\f103";
    $font-Flaticon-meditation: "\f104";