<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('images/bg_1.jpg');"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">About Us</h1>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>About us <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div
        class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch"
      >
        <div
          class="img"
          style="background-image: url(images/about.jpg); border"
        ></div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">Fox University Stablished Since 1960</h2>
        <p>
          On her way she met a copy. The copy warned the Little Blind Text, that
          where it came from it would have been rewritten a thousand times and
          everything that was left from its origin would be the word.
        </p>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.
        </p>
        <p>
          On her way she met a copy. The copy warned the Little Blind Text, that
          where it came from it would have been rewritten a thousand times and
          everything that was left from its origin would be the word "and" and
          the Little Blind Text should turn around and return to its own, safe
          country. But nothing the copy said could convince her and so it didn’t
          take long until a few insidious Copy Writers ambushed her, made her
          drunk with Longe and Parole and dragged her into their agency, where
          they abused her for their
        </p>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="background-image: url(images/bg_3.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div class="col-md-6 align-items-stretch d-flex">
        <div
          class="img img-video d-flex align-items-center"
          style="background-image: url(images/about-2.jpg);"
        >
          <div class="video justify-content-center">
            <a
              href="https://vimeo.com/45830194"
              class="icon-video popup-vimeo d-flex justify-content-center align-items-center"
            >
              <span class="ion-ios-play"></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5"
      >
        <h2 class="mb-4">Fox University</h2>
        <p>
          Separated they live in. A small river named Duden flows by their place
          and supplies it with the necessary regelialia. It is a paradisematic
          country. A small river named Duden flows by their place and supplies
          it with the necessary regelialia. It is a paradisematic country, in
          which roasted parts of sentences fly into your mouth.
        </p>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.
        </p>
      </div>
    </div>
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="18">0</strong>
                <span>Certified Teachers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="401">0</strong>
                <span>Students</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="30">0</strong>
                <span>Courses</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Awards Won</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">Student Says About Us</h2>
        <p>
          Separated they live in. A small river named Duden flows by their place
          and supplies it with the necessary regelialia. It is a paradisematic
          country
        </p>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(images/teacher-1.jpg);"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Racky Henderson</p>
                <span class="position">Father</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(images/teacher-2.jpg);"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Henry Dee</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(images/teacher-3.jpg);"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Huff</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(images/teacher-4.jpg);"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Rodel Golez</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url(images/teacher-1.jpg);"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Ken Bosh</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 ftco-animate">
        <a
          href="images/image_1.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(images/course-1.jpg);"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="images/image_2.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(images/image_2.jpg);"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="images/image_3.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(images/image_3.jpg);"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="images/image_4.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(images/image_4.jpg);"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
