<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('images/bg_1.jpg');"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Certified Teacher</h1>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>Teacher <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_1.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_2.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_3.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_4.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_5.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="blog-single.html"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/image_6.jpg');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#">Skills To Develop Your Child Memory</a>
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
