<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url(images/_L1A6707.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-start"
        data-scrollax-parent="true"
      >
        <div class="col-md-6 ftco-animate">
          <h1 class="mb-4">BECOME A 12RND FRANCHISEE</h1>
          <p>
            The most dynamic, convenient and effective workout, supported by a
            simple, high returning business model; a formula for growth.
          </p>
          <p>
            <a href="#" class="btn btn-primary px-4 py-3 mt-3"
              >CONTACT US TODAY</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url(images/_L1A7674.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-start"
        data-scrollax-parent="true"
      >
        <div class="col-md-6 ftco-animate">
          <h1 class="mb-4">BECOME A 12RND FRANCHISEE</h1>
          <p>
            The most dynamic, convenient and effective workout, supported by a
            simple, high returning business model; a formula for growth.
          </p>
          <p>
            <a href="#" class="btn btn-primary px-4 py-3 mt-3"
              >CONTACT US TODAY</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-services ftco-no-pb">
  <div class="container-wrap">
    <div class="row no-gutters">
      {{#each home.services}}
      <div
        class="col-md-5ths d-flex services align-self-stretch py-5 px-4 ftco-animate bg-{{color}}"
      >
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-{{icon}}"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">{{title}}</h3>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div
        class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch"
      >
        <div
          class="img"
          style="
            background: url(images/graph.png);
            background-size: contain;
            background-position: center;
          "
        ></div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">
          WE ARE THE FASTEST GROWING BOXING & STRENGTH PROVIDER IN THE WORLD
        </h2>
        <p style="width: 90%;">
          Co-founded by Managing Director, Tim West and four-time world champion
          Australian boxer, Danny Green, 12RND Fitness began franchising in
          2016. In 2019, the brand expanded overseas under the name UBX
          Training, with the first international club opening in New Zealand. As
          of 2020, there are over 80 locations across Australia, New Zealand and
          Singapore, and due to open in the US and UK within the year.
        </p>
        <div class="row mt-5">
          {{#each home.services}}
          <div class="col-lg-6">
            <div class="services-2 d-flex">
              <div
                class="icon mt-2 d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-{{icon}}"></span>
              </div>
              <div class="text pl-3">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="background-image: url(images/_L1A8623.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div class="col-md-6 align-items-stretch d-flex">
        <div
          class="img img-video d-flex align-items-center"
          style="background-image: url(images/video-thumbnail.png);"
        >
          <div class="video justify-content-center">
            <a
              href="https://www.youtube.com/embed/eg4H6u76dEI"
              class="icon-video popup-vimeo d-flex justify-content-center align-items-center"
            >
              <span class="ion-ios-play"></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5"
      >
        <h2 class="mb-4">Sint Ullamco Dolor</h2>
        <p>
          Non dolor anim qui eiusmod eiusmod aliqua velit laboris deserunt
          reprehenderit nulla.Anim officia id incididunt Lorem incididunt.
          Adipisicing minim id dolore non fugiat ullamco adipisicing. Culpa
          cillum enim sunt in non ex amet tempor tempor. Adipisicing excepteur
          reprehenderit fugiat ea eu in veniam eiusmod adipisicing minim.
        </p>
        <p>
          Commodo deserunt sunt duis culpa Lorem cillum officia pariatur nisi
          amet adipisicing. Voluptate veniam qui quis id do nisi.Anim nulla
          irure nostrud non quis sint adipisicing enim laboris nulla
          exercitation minim ea officia.
        </p>
      </div>
    </div>
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            {{#each home.numbers}}
            <div class="block-18">
              <div class="text">
                <strong
                  class="number"
                  data-number="{{number}}"
                  style="display: unset;"
                  >0</strong
                >
                {{#if hasPlus}}
                <strong class="number" style="display: unset;">+</strong>
                {{/if}}
                <span>{{title}}</span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h3 class="mb-0"><span>Our</span> Product Differentiators</h3>
        <h2 class="mb-4">WE BELIEVE IN KEEPING THINGS SIMPLE.</h2>
        <p>
          We focus on Convenience + Enjoyment + Results
          <b>to provide an unparalleled experience for members</b>
        </p>
      </div>
    </div>
    <div class="row">
      {{#each home.differentiators}}
      <div class="col-md-4 course ftco-animate">
        <img
          src="images/{{image}}"
          width="120px"
          style="margin-left: 50%; transform: translateX(-50%);"
        />
        <div class="text pt-4">
          <h3><a href="#">{{title}}</a></h3>
          <p>{{description}}</p>
          <p><a href="#" class="btn btn-primary">Apply now</a></p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">YOUR JOURNEY AS A FRANCHISEE</h2>
        <p>
          At every stage of your business journey, you will be supported by a
          team of experts who have years of combined experience in all of the
          key areas required for business success, such as fitness, sales,
          marketing, operations and technology.
        </p>
      </div>
    </div>
    <div class="row">
      {{#each home.journey}}
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff">
          <img
            src="images/{{icon}}"
            width="120px"
            style="margin-left: 50%; transform: translateX(-50%);"
          />
          <div class="text pt-3">
            <h3 class="text-center">{{title}}</h3>
            <div class="faded">
              <ul>
                {{#each list}}
                <li>
                  <span>{{text}}</span>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-consult ftco-no-pt ftco-no-pb"
  style="background-image: url(images/12RND_fitness_julian_lallo-47.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">
          <div class="heading-section heading-section-white ftco-animate mb-5">
            <h2 class="mb-4">Contact Us Today</h2>
            <p>
              For more information and to speak with one of the team, please
              complete the below details and we will be in touch soon.
            </p>
          </div>
          <form action="#" class="appointment-form ftco-animate">
            <div class="d-md-flex">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group ml-md-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" placeholder="Phone" />
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon">
                      <span class="ion-ios-arrow-down"></span>
                    </div>
                    <select name="" id="" class="form-control">
                      <option value=""
                        >What best defines your interest in becoming a
                        franchisee</option
                      >
                      <option value=""
                        >Looking to transition out of current employment</option
                      >
                      <option value=""
                        >Current Fitness business owner looking to diversify or
                        change sector</option
                      >
                      <option value=""
                        >Current Investor looking for opportunties</option
                      >
                      <option value=""
                        >Fitness professional looking to progress and set up my
                        own business</option
                      >
                      <option value=""
                        >Other (Please specify in Comments)</option
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Country" />
              </div>
              <div class="form-group ml-md-4">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon">
                      <span class="ion-ios-arrow-down"></span>
                    </div>
                    <select name="" id="" class="form-control">
                      <option value="">Available capital</option>
                      <option value="">Below $100k</option>
                      <option value="">$100 - $199k</option>
                      <option value="">$200k +</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon">
                      <span class="ion-ios-arrow-down"></span>
                    </div>
                    <select name="" id="" class="form-control">
                      <option value=""
                        >Have you experienced 12RND workout before?</option
                      >
                      <option value="">Yes</option>
                      <option value="">No</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="2"
                  class="form-control"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="form-group ml-md-4">
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-primary py-3 px-4"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4"><span>Featured</span> In</h2>
      </div>
    </div>
    <div class="row">
      {{#each home.featured}}
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a
            href="{{url}}"
            class="block-20 d-flex align-items-end"
            style="background-image: url('images/{{image}}');"
          >
            <div class="meta-date text-center p-2">
              <span class="day">{{day}}</span>
              <span class="mos">{{month}}</span>
              <span class="yr">{{year}}</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading">
              <a href="#" style="text-transform: capitalize;">{{title}}</a>
            </h3>
            <p>{{subtitle}}</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0">
                <a href="#" class="btn btn-primary"
                  >Read More <span class="ion-ios-arrow-round-forward"></span
                ></a>
              </p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">What our Franchisees have to say</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          {{#each home.testimonials}}
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div
                class="user-img mr-4"
                style="background-image: url({{root}}/images/{{image}});"
              ></div>
              <div class="text ml-2">
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
                <p>{{quote}}</p>
                <p class="name">{{name}}</p>
                <span class="position">{{title}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      {{#each home.gallery as |image|}}
      <div class="col-md-5ths ftco-animate">
        <a
          href="{{root}}/images/{{image}}"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url({{root}}/images/{{image}});"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
