<div class="bg-top navbar-light">
  <div class="container">
    <div class="row no-gutters d-flex align-items-center align-items-stretch">
      <div class="col-md-4 d-flex align-items-center py-4">
        <a class="navbar-brand" href="index.html">
          <img
            class="navbar-brand-image"
            src="{{root}}/images/12rnd-footer.svg"
          />
        </a>
      </div>
      <div class="col-lg-8 d-block">
        <div class="row d-flex">
          <div
            class="col-md d-flex topper align-items-center align-items-stretch py-md-4"
          >
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-paper-plane"></span>
            </div>
            <div class="text">
              <span>Email</span>
              <span>youremail@email.com</span>
            </div>
          </div>
          <div
            class="col-md d-flex topper align-items-center align-items-stretch py-md-4"
          >
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-phone2"></span>
            </div>
            <div class="text">
              <span>Call</span>
              <span>Call Us: + 1235 2355 98</span>
            </div>
          </div>
          <div
            class="col-md topper d-flex align-items-center justify-content-end"
          >
            <p class="mb-0">
              <a
                href="#"
                class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center"
              >
                <span>Apply now</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container d-flex align-items-center px-4">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>
    <form action="#" class="searchform order-lg-last">
      <div class="form-group d-flex">
        <input type="text" class="form-control pl-3" placeholder="Search" />
        <button type="submit" placeholder="" class="form-control search">
          <span class="ion-ios-search"></span>
        </button>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{#ifpage 'index'}}active{{/ifpage}}">
          <a href="index.html" class="nav-link pl-0">Home</a>
        </li>
        <li class="nav-item {{#ifpage 'about'}}active{{/ifpage}}">
          <a href="about.html" class="nav-link pl-0">About</a>
        </li>
        <li class="nav-item {{#ifpage 'courses'}}active{{/ifpage}}">
          <a href="courses.html" class="nav-link pl-0">Courses</a>
        </li>
        <li class="nav-item {{#ifpage 'teacher'}}active{{/ifpage}}">
          <a href="teacher.html" class="nav-link pl-0">Teacher</a>
        </li>
        <li class="nav-item {{#ifpage 'blog'}}active{{/ifpage}}">
          <a href="blog.html" class="nav-link pl-0">Blog</a>
        </li>
        <li class="nav-item {{#ifpage 'contact'}}active{{/ifpage}}">
          <a href="contact.html" class="nav-link pl-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
